<div class="container col-md-9" >
    <div class="row d-flex justify-content-around">


        <div class="card col-md-3">
            <img src="/assets/man1.jpeg" class="card-img-top">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card col-md-3">
            <img src="/assets/man2.jpeg" class="card-img-top">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card col-md-3">
            <img src="/assets/woman1.jpeg" class="card-img-top">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        
    </div>
    
</div>
