<div class="d-flex justify-content-center">
    <div class="card col-md-9" style="background-color: aliceblue;">
        <div class="row">
            <div class="d-flex justify-content-center">

                <div class="col-md-10">
                    <br>
                    <label class="form-label">Insira a URL da notícia</label>
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="URL" aria-label="Search">
                        <button class="btn btn-success" type="submit">Enviar</button>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>